body {
    color: #12387a;
    font-family: "Work Sans", sans-serif;
}

.center {
    text-align: center;
}

.big-h1 {
    font-size: 1.3em;
}

.ascii-width {
    max-width: 35%;
}


.line-through {
    text-decoration: line-through;
    color: gray;
}
